@import url(https://fonts.googleapis.com/css?family=Lily+Script+One:regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !sign-in */
.signin-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #fc4a1a, #f7b733);
  font-family: "Lily Script One";
}
.signin-container h1 {
  margin: 30px;
}

.signin-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 350px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.signin-container .card input {
  border: none;
  border-bottom: 5px solid rgb(173, 42, 42);
  border-radius: 5px;
}

/* !Signup */
.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #fc4a1a, #f7b733);
  font-family: "Lily Script One";
}
.signup-container h1 {
  margin: 30px;
}
.signup-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 350px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.signup-container .card input {
  border: none;
  border-bottom: 5px solid rgb(173, 42, 42);
  border-radius: 5px;
}

/* !feedback */
.feedback-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #fc4a1a, #f7b733);
  font-family: "Lily Script One";
}
.feedback-container h1 {
  margin: 30px;
}
.feedback-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
  height: 450px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.feedback-card textarea {
  border: none;
  border-bottom: 5px solid rgb(173, 42, 42);
  border-radius: 5px;
  color: #40e20e;
}

/* !profile */

.profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #1afc38, #33f76450);
  font-family: "Lily Script One";
}
.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 450px;
  min-height: 450px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  border-radius: 5px;
}
.profile-btn {
  background: linear-gradient(to left, #1afc38, #33f76450);
  border: none;
  border-radius: 5px;
  color: #030303;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-family: "Lily Script One";
}

.user-name {
  font-size: 30px;
  color: #252725af;
}
.user-email {
  font-size: 20px;
  color: #212e1d;
  margin: 10px;
}
.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 450px;
  min-height: 450px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to left, #1afc3849, #33f764a6);
  border-radius: 5px;

  padding: 30px;
}
.comment-card button {
  background: linear-gradient(to left, #ee303091, #3361f7);
  border: none;
  border-radius: 5px;
  color: #40e20e;
  padding: 10px;
  margin: 10px;
}
.comment-card button:hover {
  background: linear-gradient(to left, #ee3030, #3361f7);
  color: #40e20e;
}
.comment-card div:nth-child(odd) {
  color: #3361f7;
  font-size: large;
}
.comment-card div:nth-child(even) {
  color: #f761337a;
  font-size: small;
}
